.Background {
    background-image: url(../../../../Images/Default/Public/Wheat.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.RevealSideCols {
    color: white;
    background-color: rgb(100, 100, 100, 1);
}

.RevealSideCols:hover {
    background-color: rgb(120, 120, 120, 1);
}

.RevealSideCols div:hover {
    background-color: rgb(120, 120, 120, 1);
}

.RevealSideCols button:hover {
    background-color: rgb(120, 120, 120, 1);
}