.Computer {
    cursor: pointer;
    width: 100%;
    font-size: 60%;
    text-align: center;
}

.Mobile {}

.Public {}

.Private {}

.Important {
    font-weight: bolder;
}

.NotImportant {
    font-weight: bold;
}