.Computer {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.Mobile {}

.Public {}

.Private {}

.Inner_Vessal {
    width: 98%;
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ReviewField {
    width: 99%;
    height: 100%;

    outline: none;
    resize: none;
    font-size: 75%;

    margin: auto;
}