.Vessal {
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.Vessal_Percentage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.TCB {
    height: 100%;
    z-index: 1;
}

.TCB_T {
    height: 100%;
    width: 100%;
    z-index: 2;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.Errand {
    width: 100%;
    cursor: pointer;

    font-size: 75%;

    display: none;
    top: 100%;

    z-index: 3;
    text-align: center;
}

.Vessal:hover .Errand {
    display: block;
}

.Errand:hover {
    display: block;
    /* font-weight: bold; */
}