.Computer {
    width: 100%;
    height: 100%;
}

.Mobile {}

.Public {}

.Private {}

.Buffer {
    width: 100%;
    height: 2.5%;
}

.DayContainer {
    width: 100%;
    height: 82.5%;
}

.Notepad {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: column;
}

.Notepad_ButtonVessal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12.5%;
    text-align: center;
    justify-content: center;
}

.Notepad_ButtonVessal button {
    height: 100%;
    width: 7%;
    font-size: 70%;
    cursor: pointer;
}

.Notepad_ButtonVessal button:hover {
    font-weight: bold;
}

.Notepad_ButtonBuffer {
    height: 100%;
    width: 5%;
}

.NotepadArea {
    width: 100%;
    height: 87.5%;
}