.Computer {
    width: 15%;
    height: 100%;

    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;

    direction: rtl;
}

.Mobile {}

.Public {}

.Private {}

.Normal {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    direction: ltr;
}

.Full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 8000;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    direction: ltr;
}

.Full_Upper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8001;
}

.Reveal {
    width: 100%;
    height: 2.5%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    text-align: center;
    z-index: 8002;
    cursor: pointer;
}

.Reveal_Choices,
.Reveal_Font,
.Reveal_Recent {
    width: 15%;
    height: 100%;
    font-size: 75%;
    border-radius: 10px 10px 0px 0px;
}

.Reveal_Vessal {
    width: calc(100.0% / 3.0);
    height: 100%;
    display: grid;
    place-items: center;
}

.Full_Lower {
    width: 100%;
    height: 50%;

    bottom: 0%;
    position: fixed;

    display: none;
    flex-direction: row;
    z-index: 8003;
}

.Full_Lower_Segment {
    display: none;
    height: 100%;
    width: calc(100.0% / 3.0);
}

.N_Reveal {
    display: flex;
    flex-direction: row;
    height: 4%;

    cursor: pointer;
    text-align: center;

    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.N_Reveal div {
    height: 100%;
    width: 50%;
    display: block;
}

.N_Reveal button {
    display: block;
    height: 100%;
    cursor: pointer;
}

.N_Lock {
    bottom: 0;
    width: 100%;
    height: 4%;
    text-align: center;
    cursor: pointer;
}

.Resize {
    resize: horizontal;
    overflow-x: auto;
}