.Computer {
    width: 15%;
    height: 100%;
}

.Mobile {}

.Public {
    background-color: rgb(100, 100, 100, 0.75);
}

.Private {
    background-color: rgb(30, 60, 30, 0.75);
}

.Normal {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.Full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8000;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.Full_Upper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8001;
}

.Reveal {
    width: 100%;
    height: 2.5%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    text-align: center;
    z-index: 8002;
    cursor: pointer;
}

.Reveal_Choices,
.Reveal_Font,
.Reveal_Recent {
    width: 15%;
    height: 100%;
    font-size: 75%;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px 10px 0px 0px;
}

.Reveal_Vessal {
    width: calc(100.0% / 3.0);
    height: 100%;
    display: grid;
    place-items: center;
}

.Full_Lower {
    width: 100%;
    height: 50%;

    bottom: 0%;
    position: fixed;

    display: none;
    flex-direction: row;
    z-index: 8003;
}

.Full_Lower_Segment {
    display: none;
    height: 100%;
    width: calc(100.0% / 3.0);
}