.Computer {
    display: flex;
    flex-direction: column;
}

.Mobile {}

.Public {}

.Private {}

.Normal {
    width: 100%;
    height: 36%;
}

.Full {
    width: 100%;
    height: 100%;
}

.Title {
    resize: none;
    outline: none;
    text-align: center;
    font-size: 110%;
}

.Normal .Title {
    width: 100%;
    height: 10%;
}

.Full .Title {
    width: 100%;
    height: 5%;
}

.Essay_Vessal {
    display: grid;
    place-items: center;
}

.Normal .Essay_Vessal {
    width: 100%;
    height: 90%;
}

.Full .Essay_Vessal {
    width: 100%;
    height: 95%;
}

.Essay {
    width: 95%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 75%;
}