.Background {
    background-image: url(../../../../Images/Default/Private/Ocean.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.NavigationBar {
    background-color: rgba(120, 40, 40, 0.9);
    color: rgb(255, 130, 0);
}

.NavigationBar_Options {
    background-color: rgba(100, 20, 20, 0.9);
}

.NavigationBar_Options:hover {
    color: rgb(255, 230, 100);
    background-color: rgba(130, 50, 50, 1);
    font-weight: bold;
}