.Background {
    background-image: url(../../../../Images/Default/Private/Galaxy.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.NotificationBar {
    background: linear-gradient(to bottom, rgb(0, 0, 70, 1), rgb(0, 0, 100, 0.1));
    color: rgb(175, 0, 0);
}

.NotificationBar_DropButton:hover {
    background: linear-gradient(to bottom, rgb(0, 0, 70, 1), rgb(0, 0, 100, 0.1));
}

.NotificationBar_Drop {
    background: linear-gradient(to bottom, rgb(0, 0, 100, 0.1) 15%, rgb(0, 0, 70, 1) 50%, rgb(0, 0, 100, 0.1) 85%);
}

.NotificationBar_Drop:hover {
    color: rgb(255, 0, 0);
    background: linear-gradient(to bottom, rgb(0, 0, 100, 0.2) 5%, rgb(0, 0, 70, 1) 50%, rgb(0, 0, 100, 0.2) 95%);
}

.Space {
    font-size: 75%;
    font-weight: bolder;
    font-style: italic;
    color: rgb(200, 0, 200, 0.5);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.Bookmarks {
    background: linear-gradient(to top, rgb(0, 0, 70, 1), rgb(0, 0, 100, 0.1));
}

.Title {
    color: rgb(175, 0, 0);
}

.Title:hover {
    color: rgb(255, 0, 0);
}

.Link {
    color: rgb(175, 0, 0);
    background: linear-gradient(to top, rgb(0, 0, 100, 0.8) 15%, rgb(0, 0, 70, 1) 50%, rgb(0, 0, 100, 0.8) 85%);
}

.Link:hover {
    color: rgb(255, 0, 0);
    background: linear-gradient(to top, rgb(0, 0, 100, 0.9) 2.5%, rgb(0, 0, 70, 1) 50%, rgb(0, 0, 100, 0.9) 97.5%);
}