.Computer {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;

    font-size: 125%;
}

.Mobile {}

.Public {}

.Private {}

.ThemeButton {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.Themes_Dropdown_Container {
    width: 2.5%;
    height: 100%;
    position: relative;
}

.Themes_Dropdown_Options_Box {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    text-align: center;

    width: 500%;
    height: auto;

    z-index: 10;
}

.Themes_Dropdown_Options_Box_Option {
    cursor: pointer;
    width: 100%;

    height: auto;
    padding: 0.5rem 0;
}

.Themes_Dropdown_Container:hover .Themes_Dropdown_Options_Box, .Themes_Dropdown_Options_Box:hover {
    display: flex;
}

.Today {
    width: 17.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-style: italic;
    text-align: center;
}

.DropdownBar_Notifications {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.DropdownContainer {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;

    z-index: 5;

}

.Title {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.DropBox {
    width: 100%;
    height: 100%;

    display: none;
}

.DropBox_Buffer {
    height: 100%;
    width: 10%;
}

.DropdownContainer:hover,
.DropdownContainer:hover .DropBox,
.DropBox:hover {
    display: block;
}

.Drop {
    width: 100%;
    height: 100%;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50%;
    font-weight: lighter;
}