.Computer {
    width: 100%;
    height: 80%;
}

.Mobile {}

.Public {}

.Private {}

.Press {
    cursor: default;
}

.Key_0 {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.Key_1 {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}