.Computer {
    width: 100vw;
    height: 200vh;
    display: grid;
    place-items: center;
}

.Mobile {}

.Public {
    background-color: rgb(255, 0, 255, 1);
}

.Private {
    background-color: rgb(255, 0, 255, 1);
}