.MainBackground_Public_Default {
    background-image: url(../Images/Default/Public/Tree.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.MainBackground_Private_Default {
    background-image: url(../Images/Default/Private/ElderFallout.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.HeaderBackground_Public_Default {
    background-image: url(../Images/Default/Public/Wave.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.HeaderBackground_Private_Default {
    background-image: url(../Images/Default/Private/RedDragon.jpg), url(../Images/Default/Private/BlueDragon.jpg);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%, 50% 100%;
}

.CommonBackground_Public_Default {
    background-image: url(../Images/Default/Public/Mountains.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.CommonBackground_Private_Default {
    background-image: url(../Images/Default/Private/UndeadDragon.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.FooterBackground_Private_Default {}

.FooterBackground_Private_Default {
    background-image: url(../Images/Default/Private/Aberration.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Themes Below, Defaults Above >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.sampleTest {
    background-image: url(../Images/Themes/TestImage.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}