.Cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Computer {
    width: 25%;
    height: 25%;
    position: fixed;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}

.Mobile {}

.Public {
    background-color: rgba(200, 200, 200, 1);
    color: black;
}

.Private {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.Message {
    width: 100%;
    height: 75%;
    display: grid;
    place-items: center;
}

.Choices {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.Choices button {
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.Choices button:hover {
    color: blue;
}