.Computer {
    display: flex;
    flex-direction: column;

    width: 15%;
    height: 100%;

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.Mobile {}

.Public {}

.Private {}

.Buffer {
    width: 100%;
    height: 2.5%;
}

.Vessal {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.Reveal {
    display: flex;
    flex-direction: row;
    height: 4%;

    cursor: pointer;
    text-align: center;

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.Reveal div {
    height: 100%;
    width: 50%;
    display: block;
}

.Reveal button {
    display: block;
    height: 100%;
    cursor: pointer;
}

.Lock {
    bottom: 0;
    width: 100%;
    height: 4%;
    text-align: center;
    cursor: pointer;
}